.App {
  text-align: center;
}


.Header {
  padding: 20px;
  margin: 0;
  border-bottom: var(--primary-color) 2px solid;
}

.MainName {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: var(--primary-color);
}

.Footer {
  border-top: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 20px;
  position:absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.Navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  color: var(--primary-color);
  gap: 20px;
}

.Navigation ul li {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid var(--secondary-color);
  padding: 12px 100px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.Navigation a {
  text-decoration: none;
  color: var(--secondary-color);
  color: inherit;
}

.Navigation a:hover {
  opacity: 0.8;
}

.Navigation ul li:hover {
  background-color: var(--secondary-color);
  color: white;
}

.TaskList {
  list-style: none;
  padding: 0;
  margin: 10px;
  max-width: 600px;
  margin: auto;
}

.TaskTitle {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.TaskList li {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--light-background-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.TaskList li:hover {
  transform: scale(1.02);
}

.TaskList li p {
  color: #333;
}
