.App {
  text-align: center;
}


.Header {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 0;
}

.MainName {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: var(--primary-color);
}

.Footer {
  background-color: var(--background-color);
  color: var(--secondary-color);
  padding: 20px;
  position:absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.Navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  gap: 20px;
}

.Navigation ul li {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.Navigation a {
  text-decoration: none;
  color: inherit;
}

.Navigation a:hover {
  opacity: 0.8;
}
